body{
    margin: 0;
    padding:0;
    font-family: Georgia;
 }
 
 ul{
     padding:0;
     margin:0;
 }
 
 li{
     list-style: none;
 }
 
 
 
 header{
     background:gray;
     height: 100px;
 }
 
 h1{
     float: left;
     margin-left: 20px;
     margin-right: 50px;
     color: pink;
     text-shadow: 1px 1px 1px white;
 }
 
 nav li {
     display: inline-block;
     margin-right: 50px;
     margin-top: 30px;
 }
 
 nav li a {
     color: pink;
     font-size: 20px;
     text-decoration: none;
 }
 
 
 nav li a:hover{
     color: white;
 }
 
 
 main{
     width: 960px;
     margin: 30px auto;
     min-height: 700px;;
 }
 

 #bear{
     height: 450px;
     width: 960px;
 }
 
 p{
     text-align: center;
 }
 
 .coffee{
        height: 150px;
        width: 300px;
 }
 
 main li {
     float: left;
     margin-right: 30px;
     margin-top: 50px;
 }
 
 main li:last-child{
    margin-right: 0;
 }
 

 footer{
     height: 100px;
     background: gray;
 }
 
 footer p{
     padding-top: 30px;
     color: pink; 
 }
 #stars {
    height: 150px;
    width: 300px;
}